{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Odri Store</title>
  
     <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icom" href="{% static 'media/images/plat.jpg' %}">
</head>
<body>



    <div class="container">
        {% block manage %}
            <div class="row">
                {% if order %}
                    <table class="table">
                <tr style="background: lightblue;">
                    <td>Order number</td>
                    <td>Customer</td>
                    <td>Phone</td>
                    <td>Type</td>
                    <td>Address</td>
                    <td>Status</td>
                </tr>
                {% for order_item in order %}
                    <tr>
                        <td>{{ order_item.pk }}</td>
                        <td>{{ order_item.user.username }}</td>
                        <td>{{ order_item.phone }}</td>
                        <td>{{ order_item.buy_type }}</td>
                        {% if order_item.address %}
                            <td>{{ order_item.address }}</td>
                        {% else %}
                            <td> none </td>
                        {% endif %}
                        <td><a href="{{ order_item.get_absolute_url }}"><button class="btn btn-default">Process</button></a></td>
                        <td>{{ order_item.status }}</td>
                    </tr>
                {% endfor %}
            </table>
                 {% else %}
                    <h2 class="text-center h2">No orders</h2>
                {% endif %}
            </div>
        {% endblock %}
    </div>
</body>
</html>