{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Odri store</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="images/x-icon" href="{% static 'media/images/cpage/pava.png' %}">
    <link rel="stylesheet" href="{% static 'css/purchase.css' %}" medea="all">
</head>
<body>
    <section>
        <div class="section3">
            <div class="photo2">
                <table class="clothes2">
                    <tr>
                        <td class="TD"> <img class="all"src="{% static 'media/images/cpage/plat.jpg' %}">  
                        <div class="rovna"><p class="word">Alina dress</p> 
                            <p class="price">25 000tg</p> </div></td>

                        <td class="TD"> <img class="all"src="{% static 'media/images/cpage/clothkoilek3.jpg' %}">  
                        <div class="rovna"><p class="word">Maxi dress</p> 
                            <p class="price">12 500tg</p> </div></td>

                        <td class="TD"> <img class="all" src="{% static 'media/images/cpage/clothkoilek.jpg' %}">
                        <div class="rovna"><p class="word">Sun dress</p> 
                            <p class="price">15 000tg</p> </div></td>
                        
                        <td class="TD"> <img class="all" src="{% static 'media/images/cpage/clothkoilek2.jpg' %}">
                        <div class="rovna"><p class="word">Baloon dress</p> 
                            <p class="price">13 000tg</p> </div></td>

                    </tr>

                    <tr>
                        <td class="TD"> <img class="all"src="{% static 'media/images/cpage/pant1.jpg' %}">  
                        <div class="rovna"><p class="word">Slim pant</p> 
                            <p class="price">20 000tg</p> </div></td>

                        <td class="TD"> <img class="all"src="{% static 'media/images/cpage/pant2.jpg' %}">  
                        <div class="rovna"><p class="word">Wool pant</p> 
                            <p class="price">17 500tg</p> </div></td>

                        <td class="TD"> <img class="all" src="{% static 'media/images/cpage/pant3.jpg' %}">
                        <div class="rovna"><p class="word">Cargo pant</p> 
                            <p class="price">21 000tg</p> </div></td>
                        
                        <td class="TD"> <img class="all" src="{% static 'media/images/cpage/pant4.jpg' %}" 
                        <div class="rovna"><p class="word">Smart pant</p> 
                            <p class="price">15 000tg</p> </div></td>

                    </tr>

                     <tr>
                        <td class="TD"> <img class="all"src="{% static 'media/images/cpage/shoes1.jpg' %}">  
                        <div class="rovna"><p class="word">Thigh high boots</p> 
                            <p class="price">18 500tg</p> </div></td>

                        <td class="TD"> <img class="all"src="{% static 'media/images/cpage/shoes2.jpg' %}">  
                        <div class="rovna"><p class="word">Army boots</p> 
                            <p class="price">16 500tg</p> </div></td>

                        <td class="TD"> <img class="all" src="{% static 'media/images/cpage/shoes3.jpg' %}" 
                        <div class="rovna"><p class="word">Desert boots</p> 
                            <p class="price">13 000tg</p> </div></td>
                        
                        <td class="TD"> <img class="all" src="{% static 'media/images/cpage/shoes4.jpg' %}" 
                        <div class="rovna"><p class="word">Oxford boots</p> 
                            <p class="price">19 000tg</p> </div></td>

                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>